div.parent{
    width: 200px;
    height: 200px;
    background-color: royalblue;
    padding: 10px;
    overflow: auto;
    overflow: hidden;
    position: relative;
/*
    background-size:20%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../Img/XP-HD-Wallpapers-022.jpg")

*/
}
div.child{
    width: 40px;
    height: 70px;
    overflow: auto;
    background-color: orange;
   /* opacity:0.5;*/
}

div.grand{

    position: relative;
    width: 200px;
    height: 200px;
    border: black 5px dashed;
}

div:nth-child(2){
    width:80px;
    height: 30px;
    position:absolute;
   /* top: 30px;*/
   /* bottom: 30px; 
    left:30px;
    */background-attachment: fixed;
    background-image: url(../Img/p_1IEyQ8rYenO9YgAFp_LHIAW46kn6DXT0VKmZ_jKNijvYth9DieYZuJX_E_H_4GkCER_sVKhMqSyQYoW94JKA.svg);
}
/*
body{
    background-size:20%;
    background-color:green;
    background-repeat: no-repeat;
    background-position: 50% 200px;
    background-image: url("../Img/XP-HD-Wallpapers-022.jpg")
}

div:nth-child(5){
    background-image: url(../Img/p_1IEyQ8rYenO9YgAFp_LHIAW46kn6DXT0VKmZ_jKNijvYth9DieYZuJX_E_H_4GkCER_sVKhMqSyQYoW94JKA.svg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: auto;
}

div:nth-child(2){
    background-image: url(../Img/p_1IEyQ8rYenO9YgAFp_LHIAW46kn6DXT0VKmZ_jKNijvYth9DieYZuJX_E_H_4GkCER_sVKhMqSyQYoW94JKA.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}*/